* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inconsolata', monospace;

}

/* Required for full background image */

html,
body,
header,
.jarallax {
  height: 100%;
}

@media (max-width: 767px) {
  html,
  body,
  header,
  .jarallax {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #ffc107 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #82b1ff !important;
  }
}

h5 {
  letter-spacing: 3px;
}

@font-face {
    font-family: "camellia";
    src: url("../fonts/camellia.ttf");
}

.name{
    font-family: "camellia";
    font-size: 80px;
}

#jara{
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#title{
    font-size: 40px;
}

.nav-link{
    margin-left:30px;
    margin-right: 30px;
    font-size: 23px;
}


@font-face {
    font-family: "couture";
    src: url("../fonts/couture.otf");
}
#name{
    font-size: 25px;
    font-family: "couture";
}

#hireme{
    font-family: "couture";
    font-style: 35px;
}

/*projects*/

#projectbg{
    background-color: #ffe39f;
    height: 80vh;
}

#projectbg2{
    background-color: #05ffa1;
    height: 80vh;
}

#projectbg3{
    background-color: #fffb96;
    height: 80vh;
}

#projectbg4{
    background-color: #b967ff;
    height: 80vh;
}

/*progress bars*/

.progress {
    background-color: #e79191;
    border-radius: 11px;
    height: 33px;
}

.progress-bar-custom {
    background-color: #30c6fa;
    width: 90%;
}

.progress-bar-custom2 {
    background-color: #E7D479;
    width: 80%;
}

.progress-bar-custom3 {
    background-color: #c69397;
    width: 80%;
}

.progress-bar-custom4 {
    background-color: #a6c143;
    width: 70%;
}

.progress-bar-custom5 {
    background-color: #c9dcff;
    width: 70%;
}

.progress-bar-custom6 {
    background-color: #655929;
    width: 70%;
}

#content2 {
    height: 700px;
    width: 100vw;
    background-color: #f8e7e8;
}

#core{
    font-family: "camellia";
    font-size: 40px;
}

#tab{
    height: 150px;
    background-color: #d3d3d3;
}

.name2{
    font-family: "camellia";
    font-size: 60px;
}












@media (max-width: 767px) {
    .column-1,
    .column-2 {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .column-1 {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .column-2{
        width: 100v%    }
}
